

<!--
<footer>
  <div class="wrapper">
    &copy; Copyright {{ site.time | date: '%Y' }} {{ site.name }}.
    {{ site.footer_text }}
    {% if site.last_updated %}
        Last updated: {{ site.last_updated }}.
    {% endif %}
  </div>
</footer>
-->
      <div class="footer">
        <p>
          PostDoc Researcher at <a href="https://www.dima.tu-berlin.de/menue/staff/">DIMA</a>, Technische Universität Berlin
        </p>
        <p> 
          Acknowledgement: this webpage is based on <a href="https://irenezhang.net/code.html">Irene Zhang's code</a>. 
        </p>
      </div>
