figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}


.blankbox {
    background: $theme-color;
}
.img_row {
    max-height:100%;
//    width: 100%;
//    overflow: hidden;
    box-sizing:border-box;
    max-width:100%;
    max-height:100%;
}
.col {
    width: 100%;
    height: 100%;
    float: left;
    object-fit: cover;
    box-sizing:border-box;
    padding: $img-spacing;
}

.col_middle {
    width: 100%;
    height: 100%;
    float: middle;
    object-fit: cover;
    box-sizing:border-box;
    padding: $img-spacing;
}

img.resize {
  max-width: 60%;
  max-height: 60%;
}

.one {
    width: 33.33%;
}
.two {
    width: 66.66%;
}
.three {
    width: 100%;
}
.caption_float {
    height: 100%;
    float: right;    
    text-align: center;
    vertical-align: middle;
    font-size: 25px;
}
.caption {
    height: 100%;
    color: $caption-color;
    text-align: center;
    vertical-align: middle;
    font-size: $caption-font-size;
}
