.page-content {
    padding: 30px 0; /* VERTICAL PADDING FOR TITLE ON EVERY PAGE */
    display: block;
}
.page-heading {
    font-size: 20px;
    display: block;
}
.contacticon {
    display: block;
    font-size: 60px;
    margin: 10px;
}
.center{
    text-align: center;
}
