.bib {
    float: left;
    color: blue;
}
 
.invisiable { display: none; } 

<style>
invisiable {
  display: none;
}
</style> 

.venue {
	color:blue;
	display:inline;
    float:left;
}

.venue_rank {
	color:red;
	display:inline;
    float:left;
}
