<!DOCTYPE html>
<html>
{% include head.html %}
    <body>
      <div class="header">
        <div class="title clearfix">Shuhao Zhang</div>
	<ul class="nav nav-pills nav-justified">
          {% for item in site.navigation %}
          {% assign shorturl = item.link | replace: '.html', '' %}
          <li {% if page.url == shorturl %}class="active"{% endif %}>
            <a href="{{ item.link }}">
              {% if page.url == shorturl %}- {% endif %}{{ item.title
              }}{% if page.url == shorturl %} -{% endif %}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-8">
	    {% comment %}Liquid is sort of terrible! I think "!= true" is the
            only way to do negation?{% endcomment %}
            {% if page.notitle != true %}
            <h2>{{ page.title }}</h2>
	    {% else %}
	    <h3></h3>
            {% endif %}
            {{ content }}
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="contact">
              <div class="contact-title">
                Contact</div>
                <ul class="fa-ul">
	          <li><i class="fa-li fa fa-envelope"></i>shuhao.zhang
	            @tu-berlin.de</li>
	          <li><i class="fa-li fa fa-building"></i>Office 721,
                    Building En7</li>
	          <li><i class="fa-li fa fa-location-arrow"></i>des 17. Juni 135 St.
                    <br class="hidden-xs"> Berlin, DE</li>
	          <li><i class="fa-li fa
	                        fa-github-alt"></i><a href="https://github.com/shuhaozhangtony/">shuhao@github</a></li>
                  	          <li><i class="fa-li fa fa-twitter"></i><a href="https://twitter.com/shuhao_tony">shuhao@twitter</a></li>

                </ul>
            </div>
            <div class="contact hidden-xs">
              <div class="contact-title">News</div>
              <ul class="media-list">
                {% for post in site.posts limit: site.news_limit %}
                <li class="media">
                  {% if post.photo %}
                  <div class="media-left news hidden-xs">
                    {% if post.link %}
                    <a href="{{ post.link }}">
                      {% endif %}
	              <img class="media-object img-thumbnail"
                           src="{{ post.photo }}" >
                      {% if post.link %} </a> {% endif %}
                  </div>
                  {% endif %}
                  <div class="media-body">
                    <h5 class="media-heading">
                      {{ post.date | date_to_long_string }}
                    </h5>
                    {% if post.shortnews %}
                    {{ post.content }}
                    {% else %}
                    <b>New Blog Post:</b>
                        <a href="{{ post.url}}">{{ post.title }}</a>
                    {% endif %}
                  </div>
                </li>
                {% endfor %}
              </ul>
              <p><a href="news/">&nbsp;&nbsp;&nbsp;Older posts&hellip;</a></p>
            </div>
            </div>
          </div>
        </div>
 {% include footer.html %} 
 {% include hemline.html %} 
 

<p hidden> 
     <script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=ffffff&w=200&t=m&d=5WJjJUBiRIHzBC9nmIj6WxfZfGy834mfkzRgb_KJOJQ'></script>
</p>   

    </body>
</html>
